:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  margin: 0
}

input {
  margin: 30px;
}

p {
  margin: 0;
}