:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1, h2, h3, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0
}

.hud-container > * {
  pointer-events: auto;
}

.hud-container {
  pointer-events: none;
}


img {
  margin: auto;
}